---
import SearchIsland from './SearchIsland';
import { buildSearchIndex } from '../scripts/search-index';

const searchIndex = buildSearchIndex();
---

<div id="search-container">
  <SearchIsland client:idle searchIndex={searchIndex} />
</div>
